node_modules
.DS_Store
dist
node_modules
coverage
lib
venv
.venv
target
site
docs/js_ref/
docs/rust_ref/
*.yml
*.yaml
*.toml
*.zetch.*

# Specific to zetch, disable for e.g. some test data that needs its formatting:
py_rust/tests/file/test_data/*